/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
::-webkit-scrollbar-track-piece {
	background: black;
}
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 1em;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #505050; 
  }

body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}

nav {
    position: fixed;
    display: flex;
    width: 97vw;
}

nav > ul {
    font-size: .75em;
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    list-style-type: none;
    color: black;
    -webkit-text-stroke: 1px white;
}

nav > ul > li {
    padding: 1em;
    text-align: center;
}

.projects {
    margin-top: 1em;
    display: flex;
    background-image: url(../Images/valley.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
    align-items: center;
    height: 100vh;
}

.inspiration {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    background-image: url(../Images/space.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

ul>li {
    list-style: none;
}

h2 {
    font-size: 2em;
}

a {
    font-size: 2em;
    text-decoration: none;
    color: cyan;
    -webkit-text-stroke: 1px black;
    /* width and color */
}

a:hover {
    color: red;
}

h1 {
    display: flex;
    /*align-items: center;
    align-content: center;*/
    justify-content: center;
    position: relative;
    font-size: xx-large;
    color: cyan;
    font-size: 1.5em;
    -webkit-text-stroke: 1px black;
    /* width and color */
}

.arrow_left,
.arrow_right {
    font-size: 5em;
    color: cyan;
    -webkit-text-stroke: 2px black;
    /* width and color */
}